.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-form {
  text-align: center;
  align-items: center;
  align-content: center;
  /* display: inline-block; */
  /* display: flex; */
  /* margin-left: 450px; */
}

.mainInput {
  background-color: aqua;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  opacity: 0.7;
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.block {
  display: inline-block;
}

input,
label {
  display: block;
}

.second-form {
  /* margin-left: 100px; */
  align-items: center;
  align-content: center;
  /* display: flex; */
}

.input .label {
  display: block;
}
.styleOfLife {
  background-color: aqua;
  align-items: center;
  align-content: center;
  /* margin-left: 600px; */
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  width: 300px;
  height: 50px;
  margin-bottom: 15px;
  /* display: flex; */
}

.Gender {
  /* display: flex; */
  text-align: center;
  align-items: center;
  align-content: center;
  position: relative;
  /* margin-left: 450px;*/
  position: relative;

  margin-bottom: 15px;
}

.chMale {
  /* margin-left: 25px; */
}

.checkBox {
  width: 1em;
  height: 1em;
  position: relative;
  /* align-items: center; */
  /* display: flex; */
  /* margin-left: 500px; */
}
.custom-checkbox {
  /* display: flex; */
  align-items: center;
  text-align: center;
  position: relative;
  align-content: center;
}
/* для элемента input c type="checkbox" */
.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 20px;
}

.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox > input:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}

.button {
  border-radius: 10px;
  font-size: 50px;
}

.progressBar {
  height: 70px;
  width: 500px;
  /* position: relative; */
  /* background: #555; */
  background-color: #ddd;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-bottom: 20px;
}

progress::-webkit-progress-value {
  background: #e0a;
}

.minmax {
  /* display: inline; */
}

.minmax,
label {
  display: block;
}

.max {
  text-align: left;
}
.button {
  background-color: #0b76ef;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
